/*Common for all*/
table tr td.first{
	text-align:right;
	
}
table tr td.mid{
	text-align:center;
}
table tr td.end{
	text-align:left;
}



/*Employee Maintanance Home*/
h2,p.EMHh2a{
font-family:Verdana, Arial, Helvetica, sans-serif;	
font-size:+20;
text-align:center;
}
h2#EMHh2{
font-size:+40;
}
table#EMHtbl1{
	width:32%;
	border:0;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	background-color:#CCCCCC;
	}
table#EMHtbl1 tr{
	border-color:#000000;	
}
table#EMHtbl1 tr td{	
	font-family:Verdana, Arial, Helvetica, sans-serif;	
     font-size:+13;		
}
table.footer{
	width:91%;
	border:0;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	background-color:#CCCCCC;
	}
table.footer tr{
	border-color:#CCCCCC;	
}
table.footer tr td{	
	font-family:Verdana, Arial, Helvetica, sans-serif;	
    font-size:+13;	
	text-align:center;
}

/*  Employee Maintanance option*/
table.EMOtbl1{
	width:91%;
	border:0;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	background-color:#CCCCCC;
}
table.EMOtbl1 tr td{
		text-align:right;
	font-family:Verdana, Arial, Helvetica, sans-serif;	
     font-size:+13;		
}
/* view Employee*/

table.VEtbl1{
	width:32%;
	border:0;
	background-color:#CCCCCC;
	margin-left:auto;
	margin-right:auto;
}
/* Upload Employee Data*/
div#UED_div{
	text-align:center;	
}
p.UED_p1{
	text-align:center;
	margin:auto;
	font-family: sans-serif,Verdana, Arial, Helvetica;
	padding:1%;
}
