
/*=========================================Arun Contribution ======================================*/

/*Common for all*/
table tr td.first{
	text-align:right;
	
}
table tr td.mid{
	text-align:center;
}
table tr td.end{
	text-align:left;
}
table.footer{
	width:91%;
	border:0;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	background-color:#CCCCCC;
	}
table.footer tr{
	border-color:#CCCCCC;	
}
table.footer tr td{	
	font-family:Verdana, Arial, Helvetica, sans-serif;	
    font-size:+13;	
	text-align:center;
}



/*Employee Maintanance Home*/
h2,p.EMHh2a{
font-family:Verdana, Arial, Helvetica, sans-serif;	
font-size:+20;
text-align:center;
}
h2#EMHh2{
font-size:+40;
}
table#EMHtbl1{
	width:32%;
	border:0;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	background-color:#CCCCCC;
	}
table#EMHtbl1 tr{
	border-color:#000000;	
}
table#EMHtbl1 tr td{	
	font-family:Verdana, Arial, Helvetica, sans-serif;	
     font-size:+13;		
}


/*  Employee Maintanance option*/
table.EMOtbl1{
	width:91%;
	border:0;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	background-color:#CCCCCC;
}
table.EMOtbl1 tr td{
		text-align:right;
	font-family:Verdana, Arial, Helvetica, sans-serif;	
     font-size:+13;		
}
/* view Employee*/

table.VEtbl1{
	width:32%;
	border:0;
	background-color:#CCCCCC;
	margin-left:auto;
	margin-right:auto;
}
/*=========================================Manish Contribution ======================================*/
/* Upload Employee Data*/
div#UED_div{
	text-align:center;	
}
p.UED_p1{
	text-align:center;
	margin:auto;
	font-family: sans-serif,Verdana, Arial, Helvetica;
	padding:1%;
}
/* Update Employee */
#UE_ha{
	font-family:sans-serif,Arial, Helvetica; 
}
table.UE_table1{
	width:53%;
}
table.UE_table1 tr{
	background-color:#CCCCCC;
}
table.UE_table1 tr td{
	width:42%;
	font-family:sans-serif,Arial, Helvetica;
	font-size:13;
}
table.UE_table1 tr:nth-child(2) td:nth-child(1) span{
	color:#FF0000;
}
table.UE_table1 tr:nth-child(3) td:nth-child(1) span{
	color:#FF0000;
}
table.UE_table1 tr:nth-child(5) td:nth-child(1) span{
	color:#FF0000;
}
table.UE_table1  tr td:nth-child(2){
	width:3%;
}
table.UE_table1 tr td:nth-child(3){
	width:55%;
}
table.UE_table2{
	width:53%;
	border:0;
}
table.UE_table2 tr td{
	font-family:sans-serif,Arial, Helvetica ;
	font-size:13;
	font-style:italic;
}
table.UE_table2 tr td span{
	color:#FF0000;
}
/*=========================================Anand Contribution ======================================*/
/* Upload Employee Data Confirm */

p.UMDCp1
{
	font-family:sans-serif,Helvetica, Arial,Verdana ;	
	font-size:+60;
	text-align:center;
}
table#UEDCTB1{
	width:91%;
	border:0;
	margin-left:auto;
	margin-right:auto;
	background-color:#CCCCCC;
	}
table#UEDCTB1 tr td{
	font-size:15;
	font-family:Arial, Helvetica, sans-serif;
}
table#UEDCTB2{
	width:75%;
	border:0;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	
	}
table#UEDCTB2 tr td{
	font-size:20;
	font-family:Arial, Helvetica, sans-serif;
	color:#FF0000;
}
p.UMDCp2
{
	font-family:Arial, Helvetica, sans-serif ;	
	font-size:+20;
	text-align:center;
}

